$breakpoint-small: 480px;
$breakpoint-default: 1920px;

@media only screen and (max-width: $breakpoint-small) {
    .container {
        max-width: 100%;
    }
}
.container {
    max-width: 800px;
    margin: 0 auto;
    @media only screen and (max-width: $breakpoint-small) {
        max-width: 100%;
    }
}

.chat {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 200px;

    height: 500px;

    border: 2px #808080 solid;
    border-radius: 20px;

    font-family: inherit;

    .chatUsers {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 25%;

        padding: 20px;

        border-radius: 20px 0 0 20px;
        border-right: 2px #808080 solid;
        background-color: #ebebeb;

        b {
            font-size: 18px;
            margin-bottom: 20px;
        }
        ul {
            display: flex;
            flex-direction: column;
            gap: 20px;
            li {
                padding: 10px;
                font-size: 16px;
                background-color: #fff;
                border-radius: 5px;
            }
        }
    }

    .chatMessages {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 80%;
        width: 100%;

        padding: 20px;

        .messages {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 560px;
            height: 300px;
            overflow: auto;

            .message {
                display: flex;
                flex-direction: column;

                p {
                    max-width: 460px;
                    overflow-wrap: break-word;

                    padding: 10px 20px;
                    color: #fff;
                    border-radius: 10px;
                    background-color: #1b6ee2;
                    width: fit-content;
                    font-size: 16px;
                    letter-spacing: 2px;
                    margin-right: 50px;
                    p {
                        padding: 0;
                    }
                }
                span {
                    color: #b4b4b4;
                    font-size: 16px;
                }
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            border-top: 2px #808080 solid;
            padding-top: 20px;

            textarea {
                width: 90%;
                font-size: 16px;
                resize: none;
            }

            .btn {
                color: #fff;
                padding: 10px;
                border-radius: 10px;
                background-color: #1b6ee2;
                width: fit-content;
                transition: background-color 0.2s linear, transform 0.02s linear;

                &:hover {
                    background-color: #5f93dd;
                }
                &:active {
                    transform: scale(97%);
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .chat {
        margin-top: 0;
    }
}
